<form [formGroup]="addRecipeForm" class="container">
  
    <div class="mb-3">
      <label for="recipeName" class="form-label">Name</label>
      <input type="text" id="recipeName" formControlName="recipeName" class="form-control">
      <div *ngIf="addRecipeForm.get('recipeName').invalid && (addRecipeForm.get('recipeName').dirty || addRecipeForm.get('recipeName').touched)">
  
      </div>
    </div>
     
    <div class="mb-3">
      <label for="category" class="form-label">Category</label>
      <select id="category" formControlName="categoryCode" class="form-select">
        <option *ngFor="let category of CategoryList" [value]="category.code">{{category.name}}</option>
      </select>
    </div>
  
    <div class="mb-3">
      <label for="preparationTime" class="form-label">Preparation Time</label>
      <input type="number" id="preparationTime" formControlName="preparationTimeMinutes" class="form-control">
      <div *ngIf="addRecipeForm.get('preparationTimeMinutes').invalid && (addRecipeForm.get('preparationTimeMinutes').dirty || addRecipeForm.get('preparationTimeMinutes').touched)">
      
      </div>
    </div>
  
    <div class="mb-3">
      <label for="level" class="form-label">Level</label>
      <input type="number" id="level" formControlName="level" class="form-control">
      <div *ngIf="addRecipeForm.get('level').invalid && (addRecipeForm.get('level').dirty || addRecipeForm.get('level').touched)">
    
        <div *ngIf="addRecipeForm.get('outOfRange')" class="text-danger">Difficulty Level must be between 1 and 5!</div>
      </div>
    </div>
  
  
    <div class="mb-3">
      <label class="form-label">Ingredients</label>
      <div formArrayName="ingredients">
        <div *ngFor="let ingredient of ingredientsArray.controls; let i = index">
          <input type="text" [formControlName]="i" (input)="addIngredient()" class="form-control" *ngIf="i === ingredientsArray.length - 1 || ingredient.value.trim() !== ''">
        </div>
      </div>
    </div>
  
    <div class="mb-3">
      <label class="form-label">Instructions</label>
      <div formArrayName="instructions">
        <div *ngFor="let step of instructionsArray.controls; let i = index">
          <input type="text" [formControlName]="i" (input)="addPreparationStep()" class="form-control" *ngIf="i === instructionsArray.length - 1 || step.value.trim() !== ''">
        </div>
      </div>
    </div>
  
  
    <div class="mb-3">
      <label for="image" class="form-label">Image</label>
      <input type="text" id="image" formControlName="image" class="form-control">
      <div *ngIf="addRecipeForm.get('image').invalid && (addRecipeForm.get('image').dirty || addRecipeForm.get('image').touched)">

      </div>
    </div>
  
    <button type="button" (click)="saveRecipe()" class="btn btn-primary">Save</button>
    <button type="button" (click)="cancel()" class="btn btn-primary">Cancel</button>
  </form>
  
